<p style="color: green"><%= notice %></p>

<%= render @workload %>

<div>
  <%= link_to "Edit this workload", edit_workload_path(@workload) %> |
  <%= link_to "Back to workloads", workloads_path %>

  <%= button_to "Destroy this workload", @workload, method: :delete %>
</div>
